h1{
		font-size: 50px;
		color: paleturquoise;
	}


h2{
		font-size: 40px;
		color: #4CA948
	}

	
	.

	.Fat{ font-size: 37px;
	color: hotpink; 
}


	

	.uppercase{
		text-transform: uppercase ;
	}


	span{
		color: black;
	}

body{
	background-color: #F7F7F7
}

p{

	font-size: 30px;
}


