h1{
		font-size: 40px;
		color: darkcyan;
	}


h2{
		font-size: 20px;
		color: aqua;
	}

	
	.

	.Fat{ font-size: 70px; }


	

	.uppercase{
		text-transform: uppercase ;
	}


	span{
		color: black;
	}

body{
	background-color: lightslategrey;
}